
body {
}

div {
    border: 5px outset blue;
    background-color: lightblue;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: medium;
}

h2 {
    float: left;
    clear: left;
}

label {
    float: left;
    width: 12em;
    clear: left;
    margin-left: 3em;
}

input {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 40%;
}

.button {
    float: left;
    clear: left;
    margin-left: 6em;
}

fieldset {
    background-color: #EEEEFF;
    float: left;
    margin-bottom: 1em;
    clear: both;
}

#main {
    background-color: blue;
    border: 3px black outset;
}
